<div class="card" style="margin: 5%;">
  <div class="card-header">
    Test taux de change
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <form [formGroup]="changeForm">
        <div class="form-group">
          <label for="tauxEuro">Taux de change EUR/USD</label>
          <input type="number" formControlName="tauxEuro" class="form-control" id="tauxEuro" placeholder="taux de change">
        </div>
        <div class="form-group">
          <label for="montantEuro">Montant en {{montant1}}</label>
          <input type="number" formControlName="montantEuro" class="form-control" id="montantEuro" placeholder="Montant en {{montant1}}">
        </div>
        <div class="form-group">
          <label for="montantUsd">Montant en {{montant2}}</label>
          <input type="number" formControlName="montantUsd" class="form-control" id="montantUsd" placeholder="Montant en USD">
        </div>
        <div class="form-group">
          <label for="forcedTaux">Forcer le taux</label>
          <input type="number" formControlName="forcedTaux" class="form-control" id="forcedTaux" placeholder="Forcer le taux">
        </div>
        <span style="display:block;text-align: center;">        
          <button [disabled]="changeForm.invalid" type="submit" class="btn btn-primary" (click)="calculer()">Calculer</button>
          <button style="margin-left: 5px;"  type="submit" class="btn btn-primary" (click)="switch()">Switch</button>
          <button [disabled]="disableFix" style="margin-left: 5px;"  type="submit" class="btn btn-primary" (click)="fixTaux()">Fixer le taux</button></span>
      </form>
    </blockquote>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Valeur initial</th>
        <th scope="col">Devise</th>
        <th scope="col">Valeur final</th>
        <th scope="col">Device</th>
        <th scope="col">Taux de change</th>
        <th scope="col">Taux saisi</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of tableauHistorique">
        <td>{{element.valeurInitial}}</td>
        <td>{{element.deviseInitial}}</td>
        <td>{{element.valeurFinal}}</td>
        <td>{{element.deviseFinal}}</td>
        <td>{{element.tauxReel}}</td>
        <td>{{element.tauxSaisi}}</td>
      </tr>
 
    </tbody>
  </table>
</div>
